<header class="header">
    <div class="section_container">
        <div class="header-navbar">
            <div class="header-logo">
                <a href="#!" class="logo">
                    <img src="assets/images/header_logo.png" alt="Site Logo">
                </a>
            </div>
            <div class="heder-menu">
                <nav class="mainmenu-nav">
                    <ul class="mainmenu">
                        <li class="menu-item has-children">
                            <a href="">Products</a>
                            <ul class="submenu">
                                <li class="submenu-item">
                                    <a href="#!">Health Insurance</a>
                                </li>
                                <li class="submenu-item">
                                    <a href="#!">Term Life Insurance</a>
                                </li>
                                <li class="submenu-item">
                                    <a href="#!">Car Insurance</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            <a href="aboutus">About Us</a>
                        </li>
                        <li class="menu-item">
                            <a href="customer_service">Customer Service</a>
                        </li>
                        <li class="menu-item">
                            <a href="contactus">Contact Us</a>
                        </li>
                    </ul>
                </nav>
                    <button class="btn solid secondary_btn get-quote small">Get a Quote</button>
            </div>
        </div>
    </div>
</header>