<div class="terms_page">
    <section class="section">
        <div class="section_container">
            <h1>Terms and Conditions</h1>
            <div class="para_section">
                <h4>Preamble</h4>
                <p>The proposal and declaration given by the proposer and other documents if any
                    shall form the basis of this Contract and is deemed to be incorporated herein. The two
                    parties to this contract are the Policy Holder / Insured Members and Care Health insurance
                    Ltd. (also referred as Company), and all the Provisions of Indian Contract Act, 1872, shall
                    hold good in this regard. The references to the singular include references to the plural;
                    references to the male include the references to the female; and references to any statutory
                    enactment include subsequent changes to the same and vice versa. The sentence
                    construction and wordings in the Policy documents should be taken in its true sense and
                    should not be taken in a way so as to take advantage of the Company by filing a claim which
                    deviates from the purpose of Insurance.</p>
                <p>In return for premium paid, the Company will pay the Insured in case a valid claim is made:</p>
                <p>In consideration of the premium paid by the Policy Holder, subject to the terms & conditions
                    contained herein, the Company agrees to pay/indemnify the Insured Member(s), the amount of such
                    expenses that are reasonably and necessarily incurred up to the limits specified against respective
                    benefit in any Cover Period.</p>
                <p>For the purposes of interpretation and understanding of the product the Company has defined,
                    herein below some of the important words used in the product and for the remaining language and
                    the words the Company believes to mean the normal meaning of the English language as explained
                    in the standard language dictionaries. The words and expressions defined in the Insurance Act, IRDA
                    Act, regulations notified by the Insurance Regulatory and Development Authority (“Authority”) and
                    circulars and guidelines issued by the Authority shall carry the meanings described therein. The
                    terms and conditions, insurance coverage and exclusions, other benefits, various procedures and
                    conditions which have been built-in to the product are to be construed in accordance with the
                    applicable provisions contained in the product.</p>
                <p>The terms defined below have the meanings ascribed to them wherever they appear in this Policy
                    and, where appropriate</p>
            </div>

            <div class="para_section">
                <h4>Definitions</h4>
                <strong>Standard Definitions:</strong>
                <p>Accidental / Accident means sudden, unforeseen and involuntary event caused by external,
                    visible and violent means.</p>
                <p>Any One Illness (not applicable for Travel and Personal Accident Insurance) means a
                    continuous period of Illness and it includes relapse within 45 days from the date of last
                    consultation with the Hospital/Nursing Home where the treatment was taken.</p>
                <div>
                    <p>AYUSH Day Care Centre means and includes Community Health Centre (CHC), Primary
                        Health Centre (PHC), Dispensary, Clinic, Polyclinic or any such centre which is registered
                        with the local authorities, wherever applicable, and having facilities for carrying out
                        treatment procedures and medical or surgical/para-surgical interventions or both under the
                        supervision of registered AYUSH Medical Practitioner (s) on day care basis without inpatient
                        services and must comply with all the following criterion:
                    </p>
                    <ul class="type_dot">
                        <li>Having qualified registered AYUSH Medical Practitioner(s) in charge;</li>
                        <li>Having dedicated AYUSH therapy sections as required and/or has equipped
                            operation theatre where surgical procedures are to be carried out;</li>
                        <li>Maintaining daily records of the patients and making them accessible to the
                            insurance company’s authorized representative</li>
                    </ul>
                </div>
                <div class="">
                    <p>AYUSH Hospital is a healthcare facility wherein medical/surgical/para-surgical treatment
                        procedures and interventions are carried out by AYUSH Medical Practitioner(s) comprising
                        of any of the following:
                    </p>
                    <ul class="type_dot">
                        <li>Central or State Government AYUSH Hospital;</li>
                        <li>Teaching hospital attached to AYUSH College recognized by the Central
                            Government/Central Council of Indian Medicine/Central Council for Homeopathy;</li>
                        <li>AYUSH Hospital, standalone or co-located with in-patient healthcare facility of any
                            recognized system of medicine, registered with the local authorities, wherever
                            applicable, and is under the supervision of a qualified registered AYUSH Medical
                            Practitioner and must comply with all the following criterion:
                            <ul class="type_circle">
                                <li>Having at least 5 in-patient beds;</li>
                                <li>Having qualified AYUSH Medical Practitioner in charge round the clock;</li>
                                <li>Having dedicated AYUSH therapy sections as required and/or has equipped
                                    operation theatre where surgical procedures are to be carried out</li>
                                <li>Maintaining daily records of the patients and making them accessible to
                                    the insurance company’s authorized representative.</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <p><strong>Cashless Facility </strong> means a facility extended by the insurer to the Insured where the
                    payments, of the costs of treatment undergone by the Insured in accordance with the
                    Policy terms and conditions, are directly made to the Network Provider by the insurer to
                    the extent pre-authorization is approved.</p>
                <p><strong>Condition Precedent</strong> mean a policy term or condition upon which the Insurer’s
                    liability
                    under the policy is conditional upon.</p>
                <p><strong>Congenital Anomaly </strong> Congenital Anomaly means a condition(s) which is present since
                    birth, and which is
                    abnormal with reference to form, structure or position.</p>
                <ul class="type_dot">
                    <li><strong>Internal Congenital Anomaly </strong> Congenital anomaly which is not in the visible and
                        accessible parts of the body</li>
                    <li><strong>External Congenital Anomaly </strong> Congenital anomaly which is in the visible and
                        accessible parts of the body</li>
                </ul>
                <p><strong>Co-payment</strong> means a cost-sharing requirement under a health insurance policy that
                    provides that the Policyholder/Insured will bear a specified percentage of the admissible
                    claim amount. A co-payment does not reduce the Sum Insured</p>
                <p><strong>Cumulative Bonus</strong> mean any increase or addition in the Sum Insured granted by the
                    insurer
                    without an associated increase in premium.</p>
                <div>
                    <p><strong>Day Care Centre </strong> means any institution established for day care treatment of
                        Illness and/or
                        injuries or a medical setup with a Hospital and which has been registered with the local
                        authorities, wherever applicable, and is under the supervision of a registered and qualified
                        Medical Practitioner AND must comply with all minimum criteria as under—</p>
                    <ul class="type_dot">
                        <li>has qualified nursing staff under its employment;</li>
                        <li>has qualified medical practitioner/s in charge;</li>
                        <li>has a fully equipped operation theatre of its own where surgical procedures are
                            carried out;</li>
                        <li>maintains daily records of patients and will make these accessible to the Insurance
                            Company’s authorized personnel</li>
                    </ul>
                </div>
                <div>
                    <p><strong>Day Care Treatment</strong> means medical treatment, and/ or Surgical Procedure which is:
                    </p>
                    <ul class="type_dot">
                        <li>undertaken under general or local anesthesia in a Hospital/ Day Care Centre in less
                            than 24hours because of technological advancement, and</li>
                        <li> which would have otherwise required a Hospitalization of more than 24 hours.
                            Treatment normally taken on an out-patient basis is not included in the scope of this
                            definition</li>
                    </ul>
                </div>
                <p><strong>Deductible</strong> means a cost-sharing requirement under a health insurance policy that
                    provides
                    that the insurer will not be liable for a specified rupee amount in case of indemnity policies
                    and for a specified number of days/hours in case of hospital cash policies which will apply
                    before any benefits are payable by the insurer. A deductible does not reduce the Sum
                    Insured.</p>
                <p><strong>Dental Treatment</strong> means a treatment related to teeth or structures supporting teeth
                    including examinations, fillings (where appropriate), crowns, extractions and surgery.</p>
                <p><strong>Disclosure to information norm</strong> means the Policy shall be void and all premium paid
                    thereon shall be forfeited to the Company in the event of misrepresentation, misdescription or
                    non-disclosure of any material fact</p>
                <div>
                    <p><strong>Domiciliary Hospitalization</strong> means medical treatment for an
                        Illness/disease/Injury
                        which in
                        the normal course would require care and treatment at a Hospital but is actually taken
                        while confined at home under any of the following circumstances:</p>
                    <ul class="type_dot">
                        <li>The condition of the patient is such that he/she is not in a condition to be removed
                            to a Hospital, or</li>
                        <li>The patient takes treatment at home on account of non-availability of a room in a
                            Hospital.</li>
                    </ul>
                </div>
                <p><strong>Emergency care (Emergency)</strong> means management for an Illness or Injury which results
                    in
                    symptoms which occur suddenly and unexpectedly, and requires immediate care by a
                    Medical Practitioner to prevent death or serious long term impairment of the Insured
                    Member’s health.</p>
                <p><strong>Grace Period</strong> means the specified period of time immediately following the premium
                    due
                    date during which payment can be made to renew or continue a policy in force without loss
                    of continuity benefits such as waiting periods and coverage of pre-existing diseases.
                    Coverage is not available for the period for which no premium is received.</p>
                <div>
                    <p>
                        <strong>Hospital (not applicable for Overseas Travel Insurance)</strong> means any institution
                        established
                        for In-patient Care and Day Care Treatment of Illness and/or Injuries and which has been
                        registered as a Hospital with the local authorities under the Clinical Establishments
                        (Registration and Regulation) Act, 2010 or under the enactments specified under the
                        Schedule of Section 56(1) of the said Act OR complies with all minimum criteria as under:
                    </p>
                    <ul class="type_type">
                        <li> has qualified nursing staff under its employment round the clock;</li>
                        <li>has at least 10 in-patient beds in towns having a population of less than 10,00,000
                            and at least 15 in-patient beds in all other places;</li>
                        <li>has qualified Medical Practitioner(s) in charge round the clock;</li>
                        <li>has a fully equipped operation theatre of its own where Surgical Procedures are
                            carried out;</li>
                        <li>maintains daily records of patients and makes these accessible to the Company’s
                            authorized personnel.</li>
                    </ul>
                </div>
                <p><strong>ICU (Intensive care Unit) Charges</strong> means the amount charged by a Hospital towards ICU
                    expenses which shall include the expenses for ICU bed, general medical support services
                    provided to any ICU patient including monitoring devices, critical care nursing and
                    intensivist charges.</p>
                <p><strong>Injury</strong> means accidental physical bodily harm excluding Illness or disease solely and
                    directly
                    caused by external, violent, visible and evident means which is verified and certified by a
                    Medical Practitioner.</p>
            </div>
        </div>
    </section>
</div>