<div class="home_page">
    <section class="section hero_section ">
        <div class="section_container">
            <div class="hero_bg">
                <div class="row">
                    <div class="col-6">
                        <h2 class="home_short_title">LIFE YOUR DREAM</h2>
                        <h1 class="section-title">Discover Healthcare That Employees Love</h1>
                        <p class="content">Healthier employees showcase increased productivity.With
                            our benefits ensure that your team.</p>
                        <button class="btn solid primary_btn mr-1">View Insurance Plan</button>
                        <button class="btn solid secondary_btn">Schedule a Call</button>
                    </div>
                    <div class="col-6"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="section clients center bg_light">
        <div class="section_container">
            <h2 class="title_s">More Than A 300+ Companies Have Moved To Instive</h2>
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <div class="client_item">
                        <img src="assets/clients/client-logo1.jpg" alt="client logo">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="client_item">
                        <img src="assets/clients/client-logo2.jpg" alt="client logo">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="client_item">
                        <img src="assets/clients/client-logo3.jpg" alt="client logo">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="client_item">
                        <img src="assets/clients/client-logo4.jpg" alt="client logo">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="client_item">
                        <img src="assets/clients/client-logo1.jpg" alt="client logo">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="client_item">
                        <img src="assets/clients/client-logo2.jpg" alt="client logo">
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </section>

    <section class="section benefits">
        <div class="section_container">
            <div class="row">
                <div class="col-7">
                    <div class="row">
                        <div class="col-4">
                            <div class="info_card">
                                <div class="icon icon_1"><i class="fas fa-file-medical"></i></div>
                                <div class="title">Group Medical<br /> Cover </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="info_card">
                                <div class="icon icon_2"><i class="fas fa-tooth"></i></div>
                                <div class="title">Dental<br /> Checkups</div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="info_card">
                                <div class="icon icon_3"><i class="fas fa-pills"></i></div>
                                <div class="title">Discounted<br /> Medicines</div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="info_card">
                                <div class="icon icon_4"><i class="fas fa-shield-alt"></i></div>
                                <div class="title">Mental Wellness<br /> consultations</div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="info_card">
                                <div class="icon icon_5"><i class="fas fa-hand-holding-heart"></i></div>
                                <div class="title">COVID-19<br /> Coverage</div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="info_card">
                                <div class="icon icon_6"><i class="fas fa-file-medical"></i></div>
                                <div class="title">Group Medical<br /> Cover</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <h2 class="home_short_title">OUR BENEFITS </h2>
                    <div class="content_box">
                        <h1 class="section-title">Health Benefits Simplified</h1>
                        <p class="parah">Your teams want health insurance that comes with no
                            surprises, no hidden costs & no out-of pocket expenses.
                            Give them access to great care with Instive.</p>
                    </div>

                    <button class="btn solid primary_btn mr-1">View Your Benifits</button>
                </div>
            </div>
        </div>
    </section>

    <section class="section why_do_need bg_green">
        <div class="section_container">
            <div class="row">
                <div class="col-5">
                    <h2 class="home_short_title">WHY DO I NEED</h2>
                    <h1 class="section-title text_light">Focus On Your Employees Health</h1>
                    <img src="assets/images/why_need.png" alt="Why Need" />
                </div>
                <div class="col-7 ">
                    <div class="why_need_box bg_light">
                        <div class="content_box">
                            <h2 class="title_s">Advice You Can Count On</h2>
                            <p class="parah">A medical insurance plan is extremely important since it provides
                                full coverage against ever-increasing healthcare expenses.</p>

                            <div class="row mt-20">
                                <div class="col-4">
                                    <div class="info_card2 icon_only">
                                        <div class="icon"><i class="far fa-building"></i></div>
                                        <div class="title">Beat Medical<br /> Inflation</div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="info_card2 icon_only">
                                        <div class="icon"><i class="fas fa-hand-holding-heart"></i></div>
                                        <div class="title">Best Quality <br />Healthcare</div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="info_card2 icon_only">
                                        <div class="icon"><i class="fas fa-hand-holding-heart"></i></div>
                                        <div class="title">Get Access To <br />Specialised</div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="info_card2 icon_only">
                                        <div class="icon"><i class="fas fa-hand-holding-heart"></i></div>
                                        <div class="title">Avail Cashless Hospitalization</div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="info_card2 icon_only">
                                        <div class="icon"><i class="fas fa-hand-holding-heart"></i></div>
                                        <div class="title">30% Save Tax</div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="info_card2 icon_only">
                                        <div class="icon"><i class="fas fa-hand-holding-heart"></i></div>
                                        <div class="title">Preventive <br />Health Check-Up <br />Coupons</div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <button class="btn solid primary_btn mr-1">View Our Overview</button>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="section our_plans center">
        <div class="section_container">
            <div class="content_box">
                <div class="heading">
                    <h2 class="home_short_title center">OUR PLANS</h2>
                    <h1 class="section-title mb-20">Best Health Insurance Plans</h1>
                </div>

                <div class="row">
                    <div class="col-4">
                        <div class="content_card">
                            <div class="icon"><i class="fas fa-briefcase-medical"></i></div>
                            <div class="title">Indemnity Health Insurance Plan</div>
                            <p class="parah">This type of health insurance plane your actual medical expense both a
                                reimbursement basis.</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="content_card">
                            <div class="icon"><i class="fas fa-file-medical-alt"></i></div>
                            <div class="title">Top-Up Health Insurance Plan</div>
                            <p class="parah">This type of health insurance plane your actual medical expense both a
                                reimbursement basis.</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="content_card">
                            <div class="icon"><i class="fas fa-file-medical-alt"></i></div>
                            <div class="title">Fixed Benefit Health Insurance Plan</div>
                            <p class="parah">This type of health insurance plane your actual medical expense both a
                                reimbursement basis.</p>
                        </div>
                    </div>
                </div>
            </div>

            <button class="btn solid primary_btn mr-1">View Our Plan</button>
        </div>
    </section>

    <section class="section our_faq">
        <div class="section_container">
            <div class="row">
                <div class="col-5">
                    <h2 class="home_short_title">Our Faq</h2>
                    <h1 class="section-title">Got Questions? We've Got Answers</h1>
                    <img src="assets/images/faq_image.png" alt="Why Need" />
                </div>
                <div class="col-7 ">
                    <div class="why_need_box bg_light">
                        <div class="content_box">
                            <h2 class="title_s">Do you support banking loan?</h2>
                            <p class="parah">Serving the interests of our clients. Personalized support matter Because
                                we are owned by banks, we are empowered todeliver
                                top-notch support and services able.</p>
                        </div>

                        <div class="content_box">
                            <h2 class="title_s">Do you support banking loan?</h2>
                            <p class="parah">Serving the interests of our clients. Personalized support matter Because
                                we are owned by banks, we are empowered todeliver
                                top-notch support and services able.</p>
                        </div>

                        <div class="content_box">
                            <h2 class="title_s">Do you support banking loan?</h2>
                            <p class="parah">Serving the interests of our clients. Personalized support matter Because
                                we are owned by banks, we are empowered todeliver
                                top-notch support and services able.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section insurance_simply center">
        <div class="section_container">
            <div class="heading">
                <h2 class="home_short_title center">INSURANCE SIMPLIFIED</h2>
                <h1 class="section-title mb-20">How It Work</h1>
            </div>

            <div class="row">
                <div class="col-4">
                    <div class="content_card no_bg center">
                        <div class="icon"><i class="fas fa-file-medical-alt"></i></div>
                        <div class="title">Compare personalized quotes</div>
                        <p class="parah">Answer a couple of questions, we'll provide accurate live quotes.</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="content_card no_bg center">
                        <div class="icon"><i class="fas fa-file-medical-alt"></i></div>
                        <div class="title">Get all discounts in one place</div>
                        <p class="parah">This type of health insurance plane your actual medical expense both a
                            reimbursement basis.</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="content_card no_bg center">
                        <div class="icon"><i class="fas fa-file-medical-alt"></i></div>
                        <div class="title">Buy online or on the phone</div>
                        <p class="parah">Answer a couple of questions, we'll provide accurate live quotes.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section subscribe center text_light bg_light ">
        <div class="section_container">
            <div class="subscribe_box bg_green pattern_section">
                <h1 class="section-title">Subscribe To People First Dispatch</h1>
                <p class="parah">A weekly digest of latest news, articles and resources</p>
                <div class="subscribe_form">
                    <div class="form-control">
                        <input type="text" placeholder="Enter Email">
                    </div>
                    <button class="btn solid secondary_btn">Subscribe</button>
                </div>
                <img class="left_bottom pattern_image" src="assets/images/subscribe_pattern2.png" alt="pattern">
                <img class="right_top pattern_image" src="assets/images/subscribe_pattern2.png" alt="pattern">
            </div>
        </div>
    </section>

</div>