<div class="aboutus">
    <div class="page_header">
        <div class="section_container">
            <h1 class="title">About Us</h1>
            <div class="description">Need any type of insurance policies over the world you can contact us without any hesitation. Our expert support team with help you.</div>
        </div>
    </div>
    <section class="section about bg_light">
        <div class="section_container">
            <div class="row">
                <div class="col-6">
                    <div class="feature_imgbox">
                        <div class="main">
                            <img src="assets/images/about-1.png" alt="about image">
                        </div>
                        <div class="small">
                            <img src="assets/images/about-sm1.png" alt="about image">
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <h2 class="home_short_title">LIFE YOUR DREAM</h2>
                    <h1 class="section-title">Save 50% on your life insurance policy get now</h1>
                    <p>Insurigo agency is a business or organization that acts as an intermediary between insurance providers (insurance companies) and individuals or businesses seeking insurance coverage. These agencies play a crucial role in the insurance industry by helping customers find suitable insurance policies to protect themselves or their assets against various risks, such as accidents, illness, property damage, liability, and more.</p>
                </div>
            </div>
        </div>
    </section>
</div>